######################
### UPLOAD DOCKER ###
#####################

# Node Modules
**/node_modules
*/node_modules
/node_modules
node_modules

# Dist
**/dist
*/dist
/dist
dist

# Changelog
CHANGELOG.md

# Git Ignore
.gitignore
